body {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-size: 20px;
}

h2 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bolder;
}

h3 {
  font-weight: lighter;
}

hr {
    margin : 50px auto 0 ;
    border-color: #A2B5BB;
    border-width: 8px;
    border-style: dotted;
    border-bottom-style: none;
    height: 0;
    width: 5%;
}

/* home page section */

#home {
  background-color: #fff;
  padding: 2% 15% 7%;
  color: #000000;
}

.navbar {
  text-align: right;
}

.nav-item {
  margin: 0 16px;
  font-size: 1.2rem;
}

.big-heading {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 75px;
  padding-top: 60px;
  margin: 50px 30px 20px;
  text-align: left;
}

.sub-heading {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  margin-left: 30px;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 16px;
}

.pro {
  text-decoration: underline;
}

.para {
  text-align: left;
  margin-left: 30px;
  font-size: 20px;
}

.title-img {
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* About section */
#about {
  background-color: #000000;
  color: #F1F1F1;
  padding: 5% 15%;
}

.ProfPic-img{
  height: 200px;
  width: 200px;
  margin-bottom: 30px;
}

.about-div {
  padding-top: 30px;
}

.check-circle {
  color : #fff;
  margin: 1rem auto;
}

.check-circle:hover {
  color: #DFF6FF;
}

/* Work section */
#work {
  margin: auto;
  line-height: 2;
  padding: 5% 0%;
  background-color: #fff;
  width: 60%;
}

#testimonials-carousel {
  margin-top: 50px;
}

.card {
  margin: 40px;
}

.skills-img {
  height: 250px;
  width: 250px;
  text-align: center;
  margin : 50px auto 30px;
}

.card-title {
  margin-bottom: 2rem;
}

/* Tools section */
#tools {
  background-color: #000000;
  padding: 5% 15%;
  color: #fff;
  width: 100%;
}

.test-img {
  width: 250px;
  height: 250px;
  margin: 20px;
  text-align: center;
}

#testimonials-carousel {
  text-align: center;
}

/* Contact section */
#contact{
  background-color: #fff;
  color: black;
  margin : auto;
}

.contact-me {
  padding: 7% 15%;
  line-height: 2;
}

.contact-heading {
  margin-bottom: 30px;
}

/* footer section */
#footer {
  padding: 5% 10%;
  text-align: center;
  line-height: 3.5;
  background-color: #000000;
}

.foot-img {
  margin: 0 20px;
  color: #fff;
}

.foot-img:hover {
  color: #DFF6FF;
}

.copyright {
  color: #8f8f8f ;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 0.75rem;
  font-weight: lighter;
  margin-top: 32px;
}

@media (max-width : 800px ) {

  #home {
    padding: 2% 7% 7%;
  }

  .nav-item {
    font-size: 1rem;
  }

  .big-heading {
    font-size: 40px;
    margin-top : 20px;
    padding-top : 20px;
  }

  .sub-heading {
    font-size: 25px;
  }

  .para {
    font-size: 16px;
  }

  .title-img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
  }

  #work {
    width : 80%;
  }

  #testimonials-carousel {
    margin-top: 20px;
  }

  p {
    font-size: 16px;
  }

}
