html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #0e1630;
}

p {
  font-size: 20px;
}

h2 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bolder;
  color: #00FFAB;
  text-align: center;
}

h3 {
  font-weight: lighter;
}

h5:hover{
  color: #14C38E;
}

/* home page section */

#home {
  background-color: #0e1630;
  padding: 2% 10% 7%;
}

.navbar {
  text-align: right;
}

.nav-link {
  margin: 0 16px;
  font-size: 1rem;
}

.nav-link:hover {
  color: #00FFAB !important;
}

.big-heading {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 75px;
  padding-top: 100px;
  margin: 50px 30px 20px;
  text-align: left;
  color: #00FFAB;
}

.sub-heading {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  margin-left: 30px;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 16px;
  color: #fff;
}

.pro {
  color: #00FFAB;
}

.para {
  text-align: left;
  margin-left: 30px;
  font-size: 20px;
  color: #F1F1F1;
}

.title-img {
  max-width: 90%;
}

/* About section */
#about {
  background-color: #0e1630;
  color: #F1F1F1;
  padding: 2% 10%;
  margin-left: 30px;
}

.hello-text {
  text-align: left;
}

.ProfPic-img{
  max-width: 70%;
  margin-top: 35px;
}

.about-skills {
  text-align: center;
}

.about-imgs {
  margin: 1rem auto;
  color: #00FFAB;
}

.about-imgs:hover {
  color: #14C38E;
}

/* Work section */
#work {
  margin: auto;
  line-height: 2;
  padding: 5% 10%;
  background-color: #0e1630;
  color: #F1F1F1;
}

.work-div {
  padding : 2% 2%;
}

.work-text-div {
  padding-top : 80px;
}

.work-title {
  color : #00FFC6;
}

.work-img {
  max-width: 100%;
  text-align: right;
}

/* Tools section */
#tools {
  padding: 3% 15%;
  color: #fff;
}

.tools-div {
  padding-top : 70px;
}

.tools-img-div {
  text-align: center;
}

.tools-img {
  width: 200px;
  height: 200px;
}

/* Contact section */
#contact{
  margin: auto;
  line-height: 2;
  padding: 5% 10%;
  color: #F1F1F1;
}

.chicken{
  color: #14C38E;
  padding-top: 40px;
}

.contact-me {
  padding: 7% 15%;
  line-height: 2;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  background: #14C38E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #36E58E;
  text-decoration: none;
}

.foot-img {
  margin: 70px 15px 0 0;
  color: #F1F1F1;
}

.foot-img:hover {
  color: #00FFAB;
}

/* footer section */
#footer {
  text-align: center;
}

.copyright {
  color: #8f8f8f ;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 0.75rem;
  font-weight: lighter;
}

/* scroll bar */
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #0e1630;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #00FFAB;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #0e1630;  /* creates padding around scroll thumb */
}


@media (max-width : 1000px ) {

  #home {
    padding: 2% 7% 0;
  }

  .big-heading {
    font-size: 40px;
    margin-top : 10px;
    padding-top : 20px;
  }

  .sub-heading {
    font-size: 25px;
  }

  .para {
    font-size: 16px;
  }

  .home-img-div {
    height: 16px;
    width: 0;
  }

  #about {
    padding: 0 5% 10%;
  }

  .dp-div {
    text-align: center;
  }

  .ProfPic-img {
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 60%;
  }

  .work-text-div {
    padding-top : 40px;
  }

  .tools-img {
    height: 100px;
    width: 100px;
  }

  .tools-div {
    padding-top : 40px;
  }

  .tools-img-div {
    width: 50%;
  }

  #contact {
    padding: 15% 10%;
  }

  .contact-div {
    padding-top : 20px;
    margin-bottom: 50px;
  }

  .chicken{
    padding-top: 0;
  }



}
